<h4>Internal server error</h4>
@if(error){
    <h5 class="text-danger">Error: {{error.message}}</h5>
    <p class="font-weight-bold">Note: If you are seeing this error than angular is not to blame!</p>
    <p>What to do next?</p>
    <ol>
        <li>Open chrome dev tools and check the failing network equest in the network tab</li>
        <li>Examine the URL of the following request</li>
        <li>Reproduce the error in postan -if you can reproduce the error than angular is not to blame!</li>
    </ol>
    <p class="font-weight-bold">Following is the stack trace - check the first 2 lines this tells you exactly which line of code caused the problem</p>
    <code class="mt-5" style="background-color: blanchedalmond;">{{error.details}}</code>
}